* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main h1 {
  text-align: center;
  font-size: 2rem;
  margin-top: 1.8rem;
  font-family: Arial, Helvetica, sans-serif;
}

.game {
  display: grid;
  grid-template: 6.5rem 6.5rem 6.5rem / 6.5rem 6.5rem 6.5rem;
  justify-content: center;
  gap: 0.4rem;
  margin-top: 1rem;
}

.square {
  width: 6.5rem;
  height: 6.5rem;
  background-color: black;
  border: 1px solid gray;
}

.square:hover {
  cursor: pointer;
}

.square::before{
  content: attr(data);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  margin-left: 0.5rem;
}

.circle {
  position: relative;
}

.circle:after {
  display: flex;
  align-items: center;
  justify-content: center;
  content:"\1F785";
  color: white;
  line-height: 4.5rem;
  font-size: 4.2rem;
}

.cross {
  position: relative;
}

.cross:after {
  display: flex;
  align-items: center;
  justify-content: center;
  content: "\2716";
  color: white;
  line-height: 4.5rem;
  font-size: 4.2rem;
}

.reset_game {
  background-color: black;
  color: #FFFFFF;
  margin-top: 1rem;
  padding: 1.5rem;
  width: 20.5rem;
  outline: none;
  border: none;
}

.reset_game:hover {
  transition: ease 2.2ms;
  background-color: rgb(248, 20, 20);
  cursor: pointer;
  border: 1px solid black;
}
