* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  outline: none;
  border: none;
}

/* HEADER */

header h1 {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 4rem;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* GAMEBOARD */

.game {
  display: grid;
  grid-template: 6.5rem 6.5rem 6.5rem / 6.5rem 6.5rem 6.5rem;
  justify-content: center;
  gap: 0.4rem;
  margin-top: 1.8rem;
}

.square {
  width: 6.5rem;
  height: 6.5rem;
  background-color: black;
  border: 2px solid gray;
}

.square:hover {
  cursor: pointer;
}

.square::before{
  content: attr(data);
  color: white;
  font-weight: bold;
  margin-left: 0.5rem;
}

/* SYMBOLS  */

.circle {
  position: relative;
}

.circle:after {
  display: flex;
  align-items: center;
  justify-content: center;
  content:"\1F785";
  color: white;
  line-height: 4.5rem;
  font-size: 4.2rem;
}

.cross {
  position: relative;
}

.cross:after {
  display: flex;
  align-items: center;
  justify-content: center;
  content: "\2716";
  color: white;
  line-height: 4.5rem;
  font-size: 4.2rem;
}

/* BUTTONS TEXT */
.button_text {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.2rem;
  border: none;
  outline: none;
}

/* RESET GAME BUTTON */

.reset_game {
  background-color: black;
  color: #FFFFFF;
  margin-top: 1.8rem;
  padding: 1.5rem;
  width: 20.5rem;
  margin-bottom: 15rem;
}

.reset_game:hover {
  transition: ease 2.2ms;
  background-color: rgb(248, 20, 20);
  cursor: pointer;
}

/* PLAYERS */

.players {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 6.5rem;
  text-align: center;
  margin-bottom: 10rem;
}

.players h2 {
  margin-bottom: 0.8rem;
}

.players input {
  width: 20rem;
  height: 3.2rem;
  background-color: black;
  color: white;
  font-size: 2rem;
  outline: none;
  border: 2px solid gray;
  font-weight: bold;
  text-align: center;
}

/* SCOREBOARD */

.scoreboard_container {
  text-align: center;
  margin-top: 0.2rem;
  position: relative;
}

.scoreboard_container h2 {
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 1.8rem;
}

.players_scoreboard {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: relative;
}

.players_scoreboard p{
  font-weight: bold;
  font-size: 4rem;
}

.scoreboard_square {
  width: 6.5rem;
  height: 6.5rem;
  background-color: black;
  border: 2px solid gray;
  margin: auto;
  margin-top: 2rem;
}

.scoreboard_square p {
  color: white;
  text-align: center;
  line-height: 6.5rem
}

/* RESET SCOREBOARD BUTTON */

.reset_scoreboard {
  background-color: black;
  color: #FFFFFF;
  margin-top: 1.8rem;
  width: 20.5rem;
  position: absolute;
  height: 6.5rem;
  top: 5rem;
}


.reset_scoreboard:hover {
  transition: ease 2.2ms;
  background-color: rgb(248, 20, 20);
  cursor: pointer;
}
